*.swp
nitrogen/site/ebin
nitrogen/site/.rebar
nitrogen/BuildInfo.txt
nitrogen/do-plugins.escript
nitrogen/erts-5.10.2
nitrogen/misc
nitrogen/etc
nitrogen/log
nitrogen/rebar.config
nitrogen/lib
nitrogen/releases
nitrogen/rebar
nitrogen/bin
nitrogen/erl_crash.dump
nitrogen/Makefile
nitrogen/plugins.config
nitrogen/etc/thumper.config
priv/certs
build
deps
.erlang.mk
argo.d
