<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>[[[page:title()]]]</title>
  <script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/jquery-ui.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/livevalidation.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/nitrogen.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/bert.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/bootstrap/js/bootstrap.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/js/d3.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/js/webcomponents.min.js' type='text/javascript' charset='utf-8'></script>
  <link rel="stylesheet" href="/nitrogen/jquery-ui/jquery.ui.all.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/nitrogen/nitrogen.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
  <link rel="import" href="/js/argo-chart.html"/>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Argo</a>
            </div>
            [[[page:navbar()]]]
        </div>
    </nav>
        [[[page:history()]]]
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 sidebar">
                [[[page:sidebar()]]]
            </div>
            <div class="col-sm-10 main">
                [[[page:content()]]]
            </div>
        </div>
    </div>
<script>
[[[script]]]
</script>
</body>
</html>
