/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

/* Bootstrap */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
  }

/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
  }

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
.nav-sidebar > li > a {
      padding-right: 20px;
      padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
            }
}
.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
    margin-bottom: 30px;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
      margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.wfid_index-env {
    background-color: linen;
    border: 1px solid maroon;
}

.wfid_index-appnav {
    margin-top: 5px;
    margin-bottom: 5px;
}

.wfid_index-app {
    background-color: linen;
    border: 1px solid maroon;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wfid_index-reachable {
    background-color: linen;
    border: 1px solid maroon;
}

.terminal {
    background-color: rgba(40, 40, 40, 0.8);
    max-height: 320px;
    overflow: auto;
    text-align: left;
}

.argo-log {
    white-space: nowrap;
    font-family: monospace;
    font-size: 0.75em;
    color: #DDDDDD;
    margin-top: 1px;
    margin-bottom: 1px;
}

.appnav-item-reachable {
    background-color: #CCFFFF;
    color: black;
    border: 1px solid black;
    margin: 2px;
    padding: 4px;
}

.appnav-item-unreachable {
    background-color: #E0E0E0;
    color: #A0A0A0;
    border: 1px solid #A0A0A0;
    margin: 2px;
    padding: 4px;
}

.appnav-item-reachable:hover {
    background-color: #EEFFFF;
}

.appnav-item-reachable:active {
    background-color: #DDFFFF;
}

.app-eval {
    width: 100%
}

.sup-link-primary {
    color: white;
}

.sup-link-default {
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.toshow {
    display: none;
}
